page-profile {
  .avatar {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid map-get($colors, secondary);
    object-fit: cover;
  }
  .card {
    padding: 8px 0px;
    border-bottom: 12px solid map-get($colors, shadow);
  }
  .account-name {
    font-size: 1.7rem;
    padding: 0 1rem;
    margin-bottom: 2px;
  }
  .account-email {
    font-size: 1.6rem;
    color: map-get($colors, main-light);
    padding: 0 1rem;
    margin-bottom: 6px;
  }
  .button-round-ios {
    padding: 0 1rem;
  }
  .button-round-md {
    padding: 0 1rem;
  }
}
