<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="home"></ion-icon> Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row padding-horizontal class="card">
    <ion-col col-2>
      <img class="avatar" [src]="(profile | async)?.photo" />
    </ion-col>
    <ion-col col>
      <span class="account-name">{{ (profile | async)?.name }}</span> <br />
      <button
        ion-button
        color="secondary"
        outline
        round
        small
        (click)="onCreateStatus()"
      >
        Post recent yum yum adventure?
      </button>
    </ion-col>
  </ion-row>

  <div *ngFor="let status of (statuses | async | reverse)">
    <ion-row
      padding-horizontal
      class="card"
      *ngIf="(status.data | async) as data"
    >
      <ion-col col-2>
        <img class="avatar" [src]="(status.user | async)?.photo" />
      </ion-col>
      <ion-col col>
        <ion-row justify-content-between align-items-center no-padding>
          <ion-col
            no-padding
            *ngIf="(status.user | async) as user"
            (click)="openRestaurant(user.id)"
          >
            <span class="account-name">{{ user.name }}</span>
          </ion-col>
          <ion-col col-2 text-right no-padding>
            <ion-icon name="star" color="secondary"> </ion-icon>
            <span class="rating-text"
              >{{ convertToNumber(data.rating) }}.00</span
            >
          </ion-col>
        </ion-row>
        <ion-row
          class="status-row"
          *ngIf="(status.restaurant | async) as resto"
          (click)="openRestaurant(resto.id)"
        >
          <span class="location-text">{{ resto.name }}</span>
        </ion-row>
        <ion-row class="status-row">
          <span class="date-text">
            {{ data.date | date: 'dd MMMM yyyy H:mm' }}
          </span>
        </ion-row>
        <ion-row class="status-row">
          <span class="status-text">
            {{ data.description | slice: 0:200 }}
            {{ data.description.length > 150 ? '...' : null }}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="onCreateStatus()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
