<ion-header>
  <ion-navbar> <ion-title> Favorites</ion-title> </ion-navbar>
</ion-header>

<ion-content padding> 
  <ion-card *ngFor="let item of favorite | async">
      <ion-row>
        <img height="385" src="assets/imgs/port-five-six.jpg">
      
        <ion-card-content (click)="openResto()">
          <ion-card-title>
            {{ (favorite | async)?.name }}
          </ion-card-title>
          <h4>Gading Serpong, Tangerang</h4>
          <p>
            The most popular coffee shop in Gading Serpong.
          </p>
        </ion-card-content>
      </ion-row>
      <ion-row no-padding>
        <button *ngIf="!isFavorite()" ion-button clear small color="yellow" (click)="change()" icon-start>
          <ion-icon name="heart"></ion-icon>
          Favorite
        </button>
      </ion-row>
  </ion-card>
</ion-content>
